name: PR
on:
  pull_request:

jobs:
  test:
    name: Test Action
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      # Rebuild ./dist
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4.1.0
        with:
          node-version: 20.x
      - name: Rebuild the dist/ directory
        run: npm run dist 
     
     # Test action
      - uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          add_markdown: |
            ---

            # Things!
            ## Excitement!
            [Links!](https://google.ca)
            `Code!`

      # Test with different inputs
      - uses: ./
        with:
          limit_to_pr_opened: true
          add_markdown: |
            ---

            # Things!
            ## Excitement!
            [Links!](https://google.ca)
            `Code!`
